--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-dotenv
pydantic
starlette

torch
transformers
sentence-transformers
faiss-cpu

numpy
scikit-learn
scipy
joblib

google-genai
requests

tiktoken
huggingface-hub
tokenizers
safetensors
tqdm

typing_extensions
python-dateutil
